<div class="container">
  <h1>Login</h1>
  <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        [(ngModel)]="login.email"
        #email="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
        name="email"
        required
        email
      />
      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
        <div *ngIf="email.errors.required">Email is required.</div>
        <div *ngIf="email.errors.email">
          Email must be a valid email address.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        [(ngModel)]="login.password"
        #password="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
        name="password"
        required
      />
      <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
        <div *ngIf="password.errors.required">Password is required.</div>
      </div>
      <div *ngIf="wrongPassword" style='font-size: 80%; color:#dc3545;'>Password is invalid.</div>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
